extends layout

block content
	body.chat-page
		.header-wrapper
			.header
			.user-header
				h2 
					table
						tr
							td Hi
							td 
								p#codename.pcn=user.codename
							td 
				a.signout(href="/signout")
		.chat-container
			.current-photo
			.next-photo
			.previous-photo
			.chat-view
				.chatwindow
					.messagewindow
			.chat-text
				input#message(type='text', name='message')
				button#reply(type='button',name='reply')
				#dialog(hidden="hidden")
					#countdown_dashboard
						.dash(class="weeks_dash")
							span.dash_title weeks
							.digit
								.top(style='display: none;') 0
								.bottom(style='display: block;') 4
							.digit
								.top(style='display: none;') 0
								.bottom(style='display: block;') 4
								.dash(class="weeks_dash")
						.dash(class="hours_dash")
							span.dash_title hours
							.digit
								.top(style='display: none;') 0
								.bottom(style='display: block;') 0
							.digit
								.top(style='display: none;') 0
								.bottom(style='display: block;') 0
						.dash(class="minutes_dash")
							span.dash_title minutes
							.digit
								.top(style='display: none;') 5
								.bottom(style='display: block;') 5
							.digit
								.top(style='display: none;') 9
								.bottom(style='display: block;') 9
						.dash(class="seconds_dash")
							span.dash_title seconds
							.digit
								.top(style='display: none;') 0
								.bottom(style='display: block;') 0
							.digit
								.top(style='display: none;') 0
								.bottom(style='display: block;') 0
	script(src="/socket.io/socket.io.js")
	script(defer, src="/js/chat.js")
