
body.home-page {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/index-bg.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    margin: 0;
}
body.gender-page {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/gender-bg.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}
body.chat-page {
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/chat-bg.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 110%;
    margin: 0;
}
.header-wrapper {
    background: url("/img/hc-theme/header-line.png") repeat-x scroll 0 -30px / contain transparent;
    height: 150px;
    width: 100%;
}
.header-wrapper .header {
    background-attachment: inherit;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/logo.png");
    background-origin: padding-box;
    background-position: 55% -12px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 150px;
}
.header-wrapper .user-header {
    background-attachment: inherit;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/bannerline.png");
    background-origin: padding-box;
    background-position: 98% -9px;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: block;
    float: right;
    height: 43px;
    margin: -124px 0 -49px;
    top: -18px;
    width: 378px;
}
.chatwindow {
    height: 332px;
    position: relative;
}
.messagewindow {
    bottom: 1px;
    overflow: auto;
    top: 98px;
}
.messagewindow {
    border: 0 solid white;
    left: 97px;
    position: absolute;
    right: 66px;
}
.messagewindow img.leftp {
    background-color: transparent;
    height: 59px;
    padding: 15px 0 0 29px;
    position: absolute;
    text-align: left;
    width: 65px;
}

.messagewindow img.rightp {
    height: 59px;
    padding: 16px 0 0 463px;
    position: absolute;
    text-align: left;
    width: 65px;
}

.me-chat {
    background-color: transparent;
    background-image: url("/img/hc-theme/cloud-blue.png");
    background-position: -6px -3px;
    background-repeat: no-repeat;
    
    height: 55px;
    margin: 12px 0 -4px 99px;
    padding: 4px 0 4px 18px;
    position: relative;
    text-align: left;
    width: 296px;
}
.you-chat {
    background-color: transparent;
    background-image: url("/img/hc-theme/cloud-pink.png");
    background-position: 5px -3px;
    background-repeat: no-repeat;
    
    height: 55px;
    margin: 12px 0 0 161px;
    padding: 6px 0 4px 20px;
    position: relative;
    text-align: left;
    width: 277px;
}

.header-wrapper .user-header .signout {
    background: url("/img/hc-theme/out.png") no-repeat scroll 41% 6px transparent;
    
    float: right;
    height: 57px;
    margin: -44px 4px 3px 7px;
    width: 36px;
}
.chat-container .current-photo {
    background: url("/img/hc-theme/photo-frame-big.png") no-repeat scroll 0 0 / contain transparent;
    height: 194px;
    margin: -39px 0 0 44%;
    position: relative;
    width: 198px;
}
.chat-container .next-photo {
    background: url("/img/hc-theme/photo-frame-small.png") no-repeat scroll 0 0 / contain transparent;
    float: right;
    height: 168px;
    margin: -102px 0 0 38%;
    width: 155px;
}
.chat-container .previous-photo {
    background: url("/img/hc-theme/photo-frame-small.png") no-repeat scroll 0 0 / contain transparent;
    float: left;
    height: 168px;
    margin: -95px 34px 16px 0.5%;
    width: 166px;
}
.chat-container .chat-view {
    background-attachment: inherit;
    background-clip: padding-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/view-chat-box.png");
    background-origin: content-box;
    background-position: 88px 2px;
    background-repeat: no-repeat;
    background-size: 80% 100%;
    height: 340px;
    margin: -84px 0 15px 22%;
    width: 717px;
}
.chat-container .chat-text {
    background-attachment: inherit;
    background-clip: padding-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/chat-text.png");
    background-origin: content-box;
    background-repeat: no-repeat;
    background-size: contain;
    height: 105px;
    margin: -17px -1px -12px 29.25%;
    width: 565px;
}
.chat-container .chat-text #message {
    background-color: transparent;
    border: 0 solid #000000;
    color: #3A2D27;
    font-family: "Georgia";
    font-size: 20px;
    margin: 29px 0 0 6%;
    width: 375px;
}
.chat-container .chat-text #reply {
    background-color: transparent;
    background-image: url("/img/hc-theme/button-reply.png");
    background-size: 100% 101%;
    border: 0 solid #000000;
    color: #3A2D27;
    font-family: "Georgia";
    font-size: 20px;
    height: 53px;
    margin: 24px 0 0 4%;
    width: 98px;
}
.header-wrapper .user-header h2 {
    background-color: transparent;
    
    color: white;
    display: block;
    font-family: "Georgia";
    font-size: 21px;
    height: 36px;
    margin: 3px;
    padding-left: 12px;
    text-align: left;
    width: 182px;
}
.homepage-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.homepage-container .login-container {
    background-attachment: inherit;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/signin-box.png");
    background-origin: padding-box;
    background-position: -18% -145px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 322px;
    left: 62%;
    position: relative;
    top: 1px;
    width: 373px;
}
.gender-container {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.gender-container .choose-gender-box {
    background: url("/img/hc-theme/gender-box.png") no-repeat scroll 51.5% 35px transparent;
    height: 400px;
}
.gender-container .choose-gender-box input {
    color: white;
    display: none;
    text-align: left;
    width: 0;
}
.gender-container .choose-gender-box .username-wrapper {
    padding: 36px 47px 0 65%;
}
form {
    background-color: transparent;
    height: 100%;
}
.gender-container .choose-gender-box #username {
    background-color: transparent;
    color: #3A2D27;
    display: block;
    font-family: "Georgia";
    font-size: 26.47px;
    height: 25px;
    text-align: left;
    top: -20px;
    width: 176px;
}
.gender-container .choose-gender-box .male {
    background-attachment: inherit;
    background-clip: inherit;
    background-color: transparent;
    background-image: url("/img/hc-theme/male-gender.png");
    background-origin: padding-box;
    background-position: -128px 0;
    background-repeat: no-repeat;
    border: 0 solid #000000;
    height: 32%;
    margin: 122px 0 0 42%;
    width: 9%;
}
.gender-container .choose-gender-box .male .s {
    background-position: -6px 0;
}
.gender-container .choose-gender-box .female {
    background-attachment: inherit;
    background-clip: inherit;
    background-color: transparent;
    background-image: url("/img/hc-theme/female-gender.png");
    background-origin: padding-box;
    background-position: -124px 0;
    background-repeat: no-repeat;
    border: 0 solid #000000;
    height: 32%;
    margin: 0 0 0 1%;
    width: 122px;
}
.gender-container .choose-gender-box .username-box {
    background-attachment: fixed;
    background-clip: inherit;
    background-color: transparent;
    background-image: url("/img/hc-theme/username-box.png");
    background-origin: padding-box;
    background-position: 55% -1%;
    background-repeat: no-repeat;
    border: 0 solid #000000;
    height: 20%;
    margin: 0;
    width: 62%;
}
.gender-container .choose-gender-box #submit {
    background: none repeat scroll 0 0 transparent;
    border: 0 solid #000000;
    float: right;
    height: 35px;
    margin: -29px 2px 3px 14px;
    width: 61px;
}
.homepage-container .login-container .sb-twitter {
    background-attachment: inherit;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/tw-button.png");
    background-origin: padding-box;
    background-position: 100% -2px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 42px;
    left: 60px;
    position: relative;
    right: 64%;
    top: 152px;
    width: 266px;
}
.homepage-container .login-container .sb-facebook {
    background-attachment: inherit;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/fb-button.png");
    background-origin: padding-box;
    background-position: 100% -13px;
    background-repeat: no-repeat;
    background-size: auto auto;
    display: block;
    height: 39px;
    left: 60px;
    position: relative;
    right: 85%;
    top: 196px;
    width: 266px;
}
footer {
    background: url("/img/hc-theme/footer-line.png") repeat-x scroll 0 0 / contain transparent;
    bottom: 0;
    height: 50px;
    padding-top: 30px;
    position: fixed;
    text-align: center;
    width: 100%;
}
footer a, footer p {
    color: #CFB3A0;
    font-size: 80%;
    line-height: 0;
    text-decoration: none;
}
.cpimg {
    height: 114px;
    margin: 20% 53% 32% 15%;
    width: 129px;
}
.npimg {
    height: 95px;
    margin: 23% 18%;
    width: 96px;
}
.ppimg {
    height: 96px;
    margin: 22% 17%;
    width: 96px;
}
.pcn {
    height: 26px;
    margin: -2% 0;
    width: 52px;
}



.ranking-container .ranking-selection-box .ranking-selection-list .ranking-left .rate_widget .ratings_chick{
  background: url("/img/hc-theme/chick-hide.png") no-repeat scroll 0 -5px transparent;
    float: left;
    height: 29px;
    padding: 3px;
    width: 29px;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-right .rate_widget .ratings_chick{
  background: url("/img/hc-theme/chick-hide.png") no-repeat scroll 0 -5px transparent;
    float: left;
    height: 29px;
    padding: 3px;
    width: 29px;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-left .rate_widget {  
    border: 0px solid #CCCCCC;
    float: left;
    height: 6%;
    left: 0;
    margin: 5% 0 6% 2px;
    overflow: visible;
    padding: 1px;
    position: relative;
    width: 55%;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-right .rate_widget {  
    border: 0px solid #CCCCCC;
    float: left;
    height: 6%;
    left: 0;
    margin: 5% 0 6% 2px;
    overflow: visible;
    padding: 1px;
    position: relative;
    width: 55%;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-left .chat_photo {  
    border: 1px solid #CCCCCC;
    float: left;
    height: 60px;
    left: 32%;
    margin: 5px 0;
    top: 2%;
    width: 60px;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-right .chat_photo {  
    border: 1px solid #CCCCCC;
    float: left;
    height: 60px;
    left: 32%;
    margin: 5px 0;
    top: 2%;
    width: 60px;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-left .rate_widget .ratings_vote {  
    background: url('/img/hc-theme/chick-show.png') no-repeat scroll 0 -5px transparent;  
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-right .rate_widget .ratings_vote {  
    background: url('/img/hc-theme/chick-show.png') no-repeat scroll 0 -5px transparent;  
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-left .rate_widget .ratings_over {  
    background: url('/img/hc-theme/chick-show.png') no-repeat scroll 0 -5px transparent;  
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-right .rate_widget .ratings_over {  
    background: url('/img/hc-theme/chick-show.png') no-repeat scroll 0 -5px transparent;  
}

.ranking-container .ranking-selection-box .ranking-selection-list {  
    border: 0px solid #CCCCCC;
    height: 360px;
    left: 26%;
    overflow-y: scroll;
    position: relative;
    top: 11%;
    width: 50%;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-left{  
    border: 0px solid #000000;
    float: left;
    height: 580px;
    left: 0;
    overflow: visible;
    position: relative;
    top: 2px;
    width: 49%;
}

.ranking-container .ranking-selection-box .ranking-selection-list .ranking-right{  
    border: 0px solid #000000;
    float: right;
    height: 580px;
    left: 0;
    overflow: visible;
    position: relative;
    top: 2px;
    width: 49%;
}
h4{
  border: 0px solid #000000;
    float: left;
    font-family: times new roman;
    margin: 5% 2px;
    top: 0;
    width: 70px;
    text-wrap: normal;
    vertical-align: middle;
}

.ranking-container {
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}

.ranking-container .ranking-selection-box {
  background: url("/img/hc-theme/score-sheet.png") no-repeat scroll 51.5% -7px transparent;
  background-size: -moz-calc();
  height: 500px;  
}

.ranking-container .ranking-selection-box .good{
  border: 0px solid #000000;
  background-attachment: inherit;
    background-clip: inherit;
    background-color: transparent;
    background-image: url("/img/hc-theme/g-score.png");
    background-origin: padding-box;
    background-position: 1px 0;
    background-repeat: no-repeat;
    height: 10%;
    width: 2.5%;
   margin: 110px 0 0 34%;
}

.ranking-container .ranking-selection-box .submit-part {
  background-attachment: fixed;
    background-clip: inherit;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 55% -1%;
    background-repeat: no-repeat;
    border: 0px solid #000000;
    height: 13%;
    margin: 5% 0;
    width: 100%;
}

.ranking-container .ranking-selection-box .submit-part #submit_rating{
  background: url("/img/hc-theme/button-rate.png") no-repeat scroll 0 0 transparent;
    border: 0 solid #000000;
    height: 80%;
    margin: 5px 43%;
    width: 16%;
    cursor: pointer;
}
body.ranking-page {
    margin:0 0 0 0;
    background-attachment: fixed;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/img/hc-theme/ranking-bg.png");
    background-origin: padding-box;
    background-repeat: no-repeat;
    background-size: 100% 110%;
}
